<h3 class="ui header">{{t "forms.i-i-s-gostinica-обяз-сотр-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.регНомер
      class=(if (v-get validationModel "регНомер" "isInvalid") "error")
      label=(t "forms.i-i-s-gostinica-обяз-сотр-e.регНомер-caption")
      data-test-i-i-s-gostinica-обяз-сотр-e-регНомер=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "регНомер" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.место
      class=(if (v-get validationModel "место" "isInvalid") "error")
      label=(t "forms.i-i-s-gostinica-обяз-сотр-e.место-caption")
      data-test-i-i-s-gostinica-обяз-сотр-e-место=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "место" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-gostinica-обяз-сотр-e.дата-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.дата
      class=(if (v-get validationModel "дата" "isInvalid") "error")
      data-test-i-i-s-gostinica-обяз-сотр-e-дата=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "дата" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.наименование
      class=(if (v-get validationModel "наименование" "isInvalid") "error")
      label=(t "forms.i-i-s-gostinica-обяз-сотр-e.наименование-caption")
      data-test-i-i-s-gostinica-обяз-сотр-e-наименование=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "наименование" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-gostinica-обяз-сотр-e.гостиница-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.гостиница
      displayAttributeName="наименование"
      autocomplete=true
      relationName="гостиница"
      projection="ГостиницаL"
      title=(t "forms.i-i-s-gostinica-обяз-сотр-e.гостиница-caption")
      readonly=readonly
      componentName="гостиницаLookup"
      class=(if (v-get validationModel "гостиница" "isInvalid") "error")
      data-test-i-i-s-gostinica-обяз-сотр-e-гостиница=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "гостиница" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-gostinica-обяз-сотр-e.персонал-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.персонал
      displayAttributeName="фИО"
      autocomplete=true
      relationName="персонал"
      projection="ПерсоналL"
      title=(t "forms.i-i-s-gostinica-обяз-сотр-e.персонал-caption")
      readonly=readonly
      componentName="персоналLookup"
      class=(if (v-get validationModel "персонал" "isInvalid") "error")
      data-test-i-i-s-gostinica-обяз-сотр-e-персонал=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "персонал" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-gostinica-обяз-сотр-e.тЧОбязСотр-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.тЧОбязСотр
      displayAttributeName="обязанности"
      autocomplete=true
      relationName="тЧОбязСотр"
      projection="ТЧОбязСотрL"
      title=(t "forms.i-i-s-gostinica-обяз-сотр-e.тЧОбязСотр-caption")
      readonly=readonly
      componentName="тЧОбязСотрLookup"
      class=(if (v-get validationModel "тЧОбязСотр" "isInvalid") "error")
      data-test-i-i-s-gostinica-обяз-сотр-e-тЧОбязСотр=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "тЧОбязСотр" "message")}}
  </div>
</form>
